<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>fragments - SUPERFLUO</title>
  <link rel="stylesheet" href="fragments.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
   <script src="../assets/ratio.js" defer></script>
  <script src="../assets/home.js" defer></script>
  <script src="fragments.js" defer></script>
</head>
<body>
  <div id="project-detail">
    <a href="../home.html" id="logo-link">
      <div id="logo"></div>
    </a>
    <p id="description">
      <i>fragments</i><br>
      a video research on animation as a tool to display flexibility in furniture design<br>
      conceived as part of <a href="#" target="_blank" id="outLink">da elemento a spazio</a> by <a href="https://www.stefanolarotonda.it/en" target="_blank" id="outLink">stefano larotonda</a><br>
      <a href="https://www.lakecomodesignfestival.com/en" target="_blank" id="outLink">lake como design festival</a>, villa sucota, como<br>
      14.09.25 – 21.09.25
    </p>

    <div id="image-stack">
      <div class="image-container" data-title="stefano larotonda © 2025">
        <img src="../da-elemento-a-spazio-stefanolarotonda-lcdf-2025.jpeg">
      </div>
    
  </div>
</body>
</html>
