<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Transitions - SUPERFLUO</title>
  <link rel="stylesheet" href="transitions.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
   <script src="../assets/ratio.js" defer></script>
  <script src="../assets/home.js" defer></script>
  <script src="transitions.js" defer></script>
</head>
<body>
  <div id="project-detail">
    <a href="../home.html" id="logo-link">
      <div id="logo"></div>
    </a>
    <p id="description">
      <i>fragments</i><br>
      a video research on animation as a tool to display flexibility in furniture design.<br>
      displayed as part of <a href="#" target="_blank" id="outLink">da elemento a spazio</a> deisgned by <a href="https://www.stefanolarotonda.it/en" target="_blank" id="outLink">stefano larotonda</a> at <br>
      <a href="https://www.lakecomodesignfestival.com/en" target="_blank" id="outLink">lake como design festival</a>, villa sucota, como.<br>
      14.09.25 – 21.09.25
    </p>
    
  </div>
</body>
</html>
