:root {
  --text-color: black;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: grid;
  place-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

#logo {
  color: var(--text-color);
  width: 80vw;
  height: auto;
}

#container {
  display: grid;
  place-items: center;
}
