:root {
  --text-color: black;
  --body-bg: #FFFB76;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: grid;
  place-items: center;
  background-color: var(--body-bg);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

#logo {
  color: var(--text-color);
  width: 90vw;
  height: auto;
}

#container {
  display: grid;
  place-items: center;
}
