:root {
  --text-color: black;
  --body-bg: black;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: var(--body-bg);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

#logo {
  font-family: "Gabarito", sans-serif;
  font-weight: 800;
  font-size: 20vw;
  letter-spacing: 0.08em;
}
